.bar {
-webkit-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
-moz-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75)
}
.card-header a {
	color:black;
}
.card-header a:hover {
	color:black;
}
