* {
	box-sizing: border-box;
}

.warnaheader {
	background-color: #ED503B;
}

.kotakabu {
  width:100%;
 background-color:#E8E8E8;
 height:100%;
 font-size:12px;
  border: 1px solid #AEAEAE;
   border-radius: 3px;
   
}

input.caribar {
	border-radius: 12px;
	width: 250px;
  height: 35px;
}

.fontputih {
	color: white;
}


.badge {
  position: absolute;
  top: 9px;
  border:1px solid #fff;
  font-size: 12px;
  right: 100px;
  font-weight: bold;
  border-radius: 1000pt;
  background: red;
  color: white;}

.notification .badge {
  position: absolute;
  top: 10px;
  right: 43px;
  padding: 2px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.bar {
-webkit-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
-moz-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75)
}

.box1 {
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  width: 100%;
  height: 90pt;
  padding: 5pt;
  margin-right: 4px;
}

.box2 {
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  width:  100%;
  height: 140%;
  padding: 5pt;
  padding-top: 0pt;
  margin-left: 4px;
}

.box3 {
  border: none;
  width: 100%;
  height: 100%;
  margin-top: -15px;
}

.img1 {
  width: 50%;
  height: 100%;
  padding: 5pt;
  float: right;
}

.b1 {
  border: none;
  width: 47.5%;
  height: 100%;
  margin-right: 5pt;

}

.b3 {
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  width: 50%;
  height: 100%;
  background-color: #E8E8E8;
  padding: 5pt;
}

.b2 {
  border: none;
  width: 47.5%;
  height: 100pt;
  margin-left: 5pt;
}

.butn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ed4f3b;
  font-size: 15px;
  padding: 4px 0px 4px 0px;
  border: solid #ed4f3b 2px;
  text-decoration: none;
  margin-left: 15pt;
}

.butn2 {
  background: #ed4f3b;
  background-image: -webkit-linear-gradient(top, #ed4f3b, #ed4f3b);
  background-image: -moz-linear-gradient(top, #ed4f3b, #ed4f3b);
  background-image: -ms-linear-gradient(top, #ed4f3b, #ed4f3b);
  background-image: -o-linear-gradient(top, #ed4f3b, #ed4f3b);
  background-image: linear-gradient(to bottom, #ed4f3b, #ed4f3b);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 4px 0px 4px 0px;
  border: solid #ed4f3b 2px;
  text-decoration: none;
  margin-left: 15pt;
}

.keterangan {
  color: #98CC31;
}

* {
  box-sizing: border-box;
}

.warnaheader {
  background-color: #ED503B;
}


input.caribar {
  border-radius: 12px;
  width: 250px;
  height: 35px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.menunya {
  margin-bottom: 20px;
  position: relative;
}

.menunya a {
  text-decoration: none;
}


.top-right {
  position: absolute;
  top: 6px;
  right: 10px;
  color: red;
}

.keterangan {
  color: #98CC31;
  font-size: 10px;
  margin: 5px;
}

.resepby {
  color: #ED503B;
  font-size: 10px;
  float:right;
  font-weight: bold;
  margin-right:4px;
}

.judulmenu {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 8px;
  margin-top: 0;
  line-height: 1.2;
}

.judulmenu a {
  text-decoration: none;
  color: black;
}

.judulmenu a:hover {
  text-decoration: none;
  color: black;
}

.ketbu {
  color: #646464;
  margin: 3px 8px 6px 8px;
  font-size: 14px;
}

.fontputih {
  color: white;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.tabmenu {
  overflow: hidden;
  background-color: #ED503B;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.tabmenu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 19px;
  font-size: 10px;
  text-decoration: none;
}

.tabmenu a:hover {
  color:white;
  text-decoration: none;
}

.iconbawah {
  color: #eee;
}