.bar {
-webkit-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
-moz-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75)
}

.estimasi {
	border-radius: 10px;
	border: 1px solid #d6d6d6;
	padding:10px;
}

.custom-control-label {
	padding-top::15px;
}