.bar {
-webkit-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
-moz-box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75);
box-shadow: 1px 1px 15px -3px rgba(150,150,150,0.75)
}

.tabmenu {
  overflow: hidden;
  background-color: #ED503B;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.badge {
  position: absolute;
  top: 9px;
  border:1px solid #fff;
  font-size: 12px;
  right: 100px;
  font-weight: bold;
  border-radius: 1000pt;
  background: red;
  color: white;}


.tabmenu a {
  float: left;
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 10px;
}

.tabmenu a:hover {
	color:white;
	text-decoration: none;
}

.iconbawah {
	color: #eee;
}

.gly-rotate-45 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}